<!DOCTYPE html>
<html ng-app='ControllerAsApp'>
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="main.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <title>Лабораторна робота 4</title>
</head>
<body>
<main class="container">
    <div class="columns">
        <div class="column">
            <div ng-controller='ShoppingListController as list'>
                <h3 class="is-size-4 has-text-weight-bold">Shopping list:</h3>
                <ol>
                    <li ng-repeat="item in list.items">
                        Buy {{item.name}}({{item.quantity}})
                        <button ng-click="list.buyItem($index);">Buy</button>
                    </li>
                </ol>
            </div>
        </div>
        <div class="column">
            <div ng-controller='BoughtShoppingListController as list'>
                <h3 class="is-size-4 has-text-weight-bold">Bought:</h3>
                <ol>
                    <li ng-repeat="item in list.items">
                        {{item.name}} ({{ item.quantity}}) has been bought
                    </li>
                </ol>
                <div ng-if="list.item.length === 0">
                    Bought list is empty
                </div>
            </div>
        </div>
    </div>
</main>
</div>
</body>
</html>